kicad/3 byte input simple/3 byte input simple-backups/*
rpi/__pycache__/*
rpi/shapeoko.ini
monitor/__pycache__/*
monitor/.password
monitor/skmonitor.ini
filemanager/.password
filemanager/shapeoko.ini
filemanager/__pycache__/*

arduino/pendant/.vscode/c_cpp_properties.json
arduino/shapeokorpm/.vscode/c_cpp_properties.json
3ddesign/*.FCStd1
filemanager/.vscode/settings.json
